{% extends 'base.html' %}

{% block link %}"/static/question.css"{% endblock %}

{% block title %}Question 2{% endblock %}


{% block content %}
    <form action="/answer/3" method="post">
        <h1>{{question.question}}</h1>
        <label for="yes">{{question.choices[0]}}
            <input type="radio" name="answer" id="answer_1" value="{{question.choices[0]}}">
        </label>
        <label for="no">{{question.choices[1]}}
            <input type="radio" name="answer" value="{{question.choices[1]}}">
        </label>
        <button> <i class="far fa-arrow-alt-circle-right fa-5x"></i></button>

        

    </form>
    
{% endblock %}