{% extends 'base.html' %}

<!-- {% block link %}"static/home.css"{% endblock %} -->

{% block title %}Question 2{% endblock %}


{% block content %}
    <form action="/answer" method="post">
        <h1>{{question.question}}</h1>
        <label for="yes">{{question.choices[0]}}
            <input type="radio" name="answer" id="answer_1" >
        </label>
        <label for="no">{{question.choices[1]}}
            <input type="radio" name="answer" value="no">
        </label>
        <button>Submit</button>
        

    </form>
    
{% endblock %}